@charset "UTF-8";

.body{
	font-family: 'Arial', sans-serif;
	background-color: #cfe3e8;
}

p {
  color: white;
}

.pagina{
    background-color: #dee6e8;
    width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px #696176;
}

.cabeçalho{
	padding: 15px;
    background-color: #131978;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
}

.logo {
    float: left;
    padding: 30px;
    width: 250px;
    height: 250px;
}

.imagem {
	border-radius: 5%;
}
.cabeçalhoConteudo {
    width: 450px;
    height: 250px;
    align-content: center;
}

.corpo {
    align-content: center;
    width: 99%;
    height: 99%;
    background-color: #dee6e8;
}

.tabela {
    background-color: #dee6e8;
    border-color: #ffffff;
    max-height: 250px;
    max-width: 780px; 
    margin:40px;
    overflow-y: auto;  
    overflow-x: auto;
    display: block;
    white-space: nowrap;
    width: 100%
}

.tabelaTitle {
    margin: 20px;
    text-align: center;
    padding: 10px;
	width: 100%;
	background-color: #c7ced0;
	border-radius: 5%;
}

.menu {
	background-color: #ffffff;
	border-radius: 5%;
	float: left;
	padding: 20px;
	margin-left:6%;
	align-content: center;
	box-shadow: 0px 4px 8px #696176;
}

.conteudo {
	margin-left: 45%;
	margin-bottom: 5%;
	padding: 3%;
	width: 40%;
	box-shadow: 0px 4px 8px #696176;
	background-color: #ffffff;
	border-radius: 5%;
}
.conteudoTabela {
	width: 100%;
	align-content: center;
}